SPRING_PROFILES_ACTIVE=local
SPRING_PORT=53080
DB_URL=jdbc:mysql://localhost:53306/comit?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=root
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB
